{% extends "_base.html" %}
{% block content %}
    <div class="row col col-lg-12">
        <ul class="nav nav-pills">
            <li class="active"><a href="{% url "account" %}">Home</a></li>
            <li><a href="{% url "account-orders" %}">Orders <span class="badge">{{order.current|length}}</span></a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </div>    
    <div id="account-home">
        <div class="row">
            <div class="col col-lg-12">
                <h2>Change your password</h2>
                <form method="post" action"{% url 'account-password'%}">
                    {% csrf_token %}
                    {{form}}
                    <br>
                    <button class="btn btn-primary" type="submit">Change password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}