{% extends "_base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-lg-12">
                <h1>Fwmazon Beta Guidelines</h1>
                <p>Thanks for taking part in the Fwmazon Beta program ! If you registered for it that means you know what it is.</p>
                <p>Now, has come the time to test it, to see if it works. All orders total price will be set to 1ISK and a few, so you can spam it.</p>
                <p>I want you guys to test everything, spam everything, try to go everywhere. If you break something, please report it immediatly.</p>
                <h3>How to report an issue</h3>
                <p>Please mail <a href="mailto:vadrin@fweddit.com?subject=FwmazonBeta">vadrin@fweddit.com</a> with a screenshot, copy pasta, and steps to reproduce the problem.</p>
                <p>If you're only there because it seemed cool and you're not interested in helping and giving feedback, thanks for wasting my time.</p>
                <p>A complimentary number of Fwmazon Credits will be distributed at the end of the Beta !</p>
                <h3>Thanks a lot for your help guys <3</h3>
            </div>
        </div>
    </div>
        
    
{% endblock %}