{% extends "_base.html" %}

{% block content %}
    <div id="brand">
        <h1><i class="icon-dropbox"></i> Fwmazon</h1>
        <h2 id="subtitle">Order. Pay. Explode.</h2>
        {% if user.is_authenticated %}
            <a href="/shop" id="go-shopping" class="btn btn-success"><i class="icon-shopping-cart"></i> Go Shopping !</a>
        {% else %}
            <a href="/login" id="login" class="btn btn-primary disabled">Beta access :soon:</a>
        {% endif %}
    </div>
</div>
    <div class="splash visible-lg">
        <h3 class="splash-header">Buy any doctrine ships and get them delivered to you</h3>
    </div>
    <div class="container content">
        <div class="row">
            <div class="col col-lg-12">
                <h3>What is it ?</h3>
                <p>Fwmazon is a brand new web application for J4LP, the biggest faction warfare alliance in Eve Online, a space based MMO. It allows to buy any doctrine ships and get them shipped down to the current battlefield for your convenience.</p>
            </div>
            <div class="col col-lg-12">
                <h3>How does it work ?</h3>
                <div class="row">
                    <div class="col col-lg-1 content-icon">
                        <i class="icon-shopping-cart icon-4x"></i>
                    </div>
                    <div class="col col-lg-11">
                        <h4>Order</h4>
                        <p>Browse through a variety of doctrine ships and special modules, add them to your cart and checkout.</p>
                    </div>
                    <div class="col col-lg-1 content-icon">
                        <i class="icon-money icon-4x"></i>
                    </div>
                    <div class="col col-lg-11">
                        <h4>Pay</h4>
                        <p>Checking out has never been simpler. It's a matter of making a money transaction to our holding corporation, and done. Your order will be picked up by Fwmazon, packaged and sent using our in-house shipping service.</p>
                    </div>
                    <div class="col col-lg-1 content-icon">
                        <i class="icon-rocket icon-4x"></i>
                    </div>
                    <div class="col col-lg-11">
                        <h4>Explode</h4>
                        <p>Depending on conditions, your losses may be subject to reimbursment. Reimbursment are done through Fwmazon with special credits that will allow you to purchase new ships, even in the heat of the battle.</p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-12">
                <h3>About</h3>
                <p>Fwmazon is a project lead by <a href="http://github.com/adrien-f">Vadrin Hegirin (adrien-f)</a> with the help of the IT Bureau of J4LP (space chikun, Kronin Vilehand and the others from the asylum channel) and has been developed in Python, using the Django framework and make use of the Bootstrap 3 style framework. It is <a href="https://github.com/J4LP/fwmazon">open source</a>, which means that with some work, you may be able to get it working for your alliance (please send some ISK my way if you do !) (licensing currently in the works). If you want to talk about Fwmazon or even all Eve Online dev related, feel free to join us in jabber: asylum@conference.fweddit.com</p>
            </div>
        </div>
    </div>    
    
{% endblock %}