{% extends "_base.html" %}

{% block content %}
    <div id="shop">
        <h1><i class="icon-shopping-cart"></i> It's shopping time !</h1>
        <p>Here's how it works, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, aspernatur, quidem labore laudantium incidunt blanditiis soluta ducimus nulla magnam inventore explicabo reprehenderit praesentium repellat. Doloribus, dolorem laudantium animi eveniet cumque.</p>

        <div id="fit-list">
            <div id="fit">
                <table>
                    <tr>
                        <td id="fit-img">
                            <img src="http://image.eveonline.com/Render/32878_128.png" alt="Talwar">
                        </td>
                        <td id="fit-desc">
                            <h4><a href="#">Talwar, U-Boat</a></h4>
                            <p>It's missile time !</p>
                        </td>
                        <td id="fit-skills">
                            <h4><span class="label label-success">You can fly this !</span></h4>
                        </td>
                        <td id="fit-price">
                            Price: 153,415,455 ISK HT
                        </td>
                        <td id="fit-number">
                            <input type="number" value="0">
                        </td>
                        <td id="fit-add">
                            <a href="" class="btn btn-primary">Add</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="fit">
                <table>
                    <tr>
                        <td id="fit-img">
                            <img src="http://image.eveonline.com/Render/32878_128.png" alt="Talwar">
                        </td>
                        <td id="fit-desc">
                            <h4><a href="#">Talwar, U-Boat</a></h4>
                            <p>It's missile time !</p>
                        </td>
                        <td id="fit-skills">
                            <h4><span class="label label-warning">You can not fly this !</span></h4>
                        </td>
                        <td id="fit-price">
                            Price: 153,415,455 ISK HT
                        </td>
                        <td id="fit-number">
                            <input type="number" value="0">
                        </td>
                        <td id="fit-add">
                            <a href="" class="btn btn-primary">Add</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="fit">
                <table>
                    <tr>
                        <td id="fit-img">
                            <img src="http://image.eveonline.com/Render/32878_128.png" alt="Talwar">
                        </td>
                        <td id="fit-desc">
                            <h4><a href="#">Talwar, U-Boat</a></h4>
                            <p>It's missile time !</p>
                        </td>
                        <td id="fit-skills">
                            <h4><span class="label label-success">You can fly this !</span></h4>
                        </td>
                        <td id="fit-price">
                            Price: 153,415,455 ISK HT
                        </td>
                        <td id="fit-number">
                            <input type="number" value="0">
                        </td>
                        <td id="fit-add">
                            <a href="" class="btn btn-primary">Add</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
    
{% endblock %}