{% extends "_base.html" %}
{% load humanize %}
{% block content %}
    <div id="list-fits">
        <a href="{% url 'manager-create-fit' %}" class="btn btn-primary pull-right"><i class="icon-plus"></i> Add a new Fit</a>
        <h1><i class="icon-cog"></i> Doctrine Fit Management</h1>
        <p>Activate, deactivate, look at the stats, modify the description, it's all possible with Fwmazon !</p>
        <table class="table">
            {% for fit in fits %}
                <tr id="fit">
                    <td id="fit-img">
                        <img src="http://image.eveonline.com/Render/{{fit.ship.id}}_128.png" alt="Talwar">
                    </td>
                    <td id="fit-desc">
                        <h4><a href="/shop/details/{{fit.id}}" id="show-details-modal" data-remote="/shop/details/{{fit.id}}" data-keyboard="true" data-backdrop="fade" data-toggle="modal" data-target="#details">{{fit.ship.name}}, {{fit.name}}</a></h4>
                        <p>{{fit.description}}</p>
                    </td>
                    <td id="fit-info">
                        <ul>
                            <li>
                                <small>Added by {{fit.creator.character.name}} on <abbr title="{{fit.created_at|date:"r"}}">{{fit.created_at|date:"DATE_FORMAT"}}</abbr></small>
                            </li>
                            <li>
                                <small>Price updated on <abbr title="{{fit.updated_at|date:"r"}}">{{fit.updated_at|date:"DATE_FORMAT"}}</small>
                            </li>
                        </ul>
                    </td>
                    <td id="fit-price">
                        Price: {{fit.price|intcomma}} ISK HT
                    </td>
                    <td id="fit-number">
                        Bought {{fit.bought}} times
                    </td>
                    <td id="fit-actions">
                        {% if fit.status == 0 %}
                            <a href="#" class="btn btn-success">Activate</a>
                        {% elif fit.status == 1 %}
                            <a href="#" class="btn btn-warning">Deactivate</a>
                        {% else %}
                            <a href="#" class="btn btn-info" disabled="disabled">Updating...</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="modal fade" id="details">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Fit Details</h4>
                </div>
                <div class="modal-body">
                    <p class="text-danger">Something wrong happened while loading the fit details</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('body').on('hidden.bs.modal', '#details', function () {
                $(this).removeData('bs.modal');
            });
        })
    </script>
        
    
{% endblock %}