{% extends "_base.html" %}
{% load humanize %}
{% block css %}
    <link rel="stylesheet" href="/static/css/jquery.dataTables.css">
{% endblock %}
{% block js %}
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/jquery.dataTables.bootstrap.js"></script>
{% endblock %}
{% block content %}
    <div id="manager-wallet">
        <div class="page-header">
            <h1>Orders <small>In case someone derped hard</small></h1>
        </div>
        <table class="table datatable">
            <thead>
                <tr>
                    <th>Order #</th>
                    <th>Buyer</th>
                    <th>Status</th>
                    <th>Destination</th>
                    <th>Price</th>
                    <th>Date of order</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
    <script>
        $(document).ready(function() {
            var oTable = $('.datatable').dataTable({
                "sDom": "<'row'<'col col-lg-6'l><'col col-lg-6'f>r>t<'row'<'col col-lg-6'i><'col col-lg-6'p>>",
                "sWrapper": "dataTables_wrapper form-inline",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "{% url 'manager-orders-data' %}",
                "oLanguage": { "sSearch": "" , "sLengthMenu": "_MENU_"},
                "sPaginationType": "bootstrap"
            });
        });
    </script>
{% endblock %}