html, body
    background-color: whiteSmoke    
    font-family: 'Open Sans', sans-serif

h1, h2, h3, h4, h5, h6
    font-family: 'Open Sans', sans-serif

a
    color: #2980B9
    &:hover, &:focus
        color: #34495E

a.btn-primary
    color #fff
    
.navbar
    border-radius: 0 !important

.nav > li
    line-height: 30px !important

    > a:hover
        background-color: whiteSmoke

a.navbar-brand
    color: #ffffff

a.navbar-link
    color #2980B9 !important

.page-header
    margin-top 0

#nav-cart
    margin-right 10px 
#brand
    text-align center
    h2#subtitle
        font-size: 1em
        font-weight: 400

#about
    margin-top 40px

    #stats
        height 200px
        background-color: #d8dde8

#login
    h1, h2
        text-align center

    h2#subtitle
        font-size 1em
        font-weight 400

    #login-form
        margin-top 20px

        label
            margin-top 20px

        #login-button
            margin-top 20px

#shop
    #fit-list
        table
            margin-top 20px
            td
                text-align center
                vertical-align middle
            #fit-img
                width 7%
            img
                height 60px
            #fit-desc
                text-align left
                padding-left 20px
                width 25%
            #fit-skills
                text-align right
                width 20%
                span a
                    color #fff
            #fit-price
                width 20%
            #fit-number
                width 20%
            #fit-add
                width 20%
                
#create
    
    #create-form
        margin-top 20px

        label
            margin-top 20px

        #create-button
            margin-top 20px

#list-fits
    table
        margin-top 20px
        td
            text-align center
            vertical-align middle
        #fit-img
            width 7%
        #fit-desc
            text-align left
            padding-left 20px
            width 25%
        #fit-info
            text-align left
            width 25%
            ul
                margin 0
        #fit-price
            width 20%
        #fit-number
            width 20%
        #fit-actions
            width 20%

table#cart-doctrine-ships
    th
        text-align center
    tr#fit
        td
            vertical-align middle
        #fit-img
            width 7%
        #fit-desc
            text-align left
            padding-left 20px
            width 25%
        #fit-details
            text-align center
            width 10%
            span a
                color #fff
        #fit-price
            text-align center
            width 20%
        #fit-number
            text-align center
            width 15%
            input
                width 50%
                margin-left auto
                margin-right auto
        #fit-delete
            text-align center
            width 30%
    tr#sub-total
        td
            text-align center
            vertical-align middle

#checkout-options
    #shipping-panel
        margin-top 20px
        select
            height 40px
        p#total-shipping
            margin-top 10px

    #review-panel
        div.panel-footer
            text-align right

#account-orders
    a#show-details-modal
        color #fff

#manager-queue
    .page-header h1
        margin-top 0
    h3:first-child
        margin-top 0

    table
        tr > td
            vertical-align middle
            > p
                margin 5px 0 5px
        tr.processing > td
            background-color lighten(#5bc0de, 10)
        tr.waiting > td
            background-color darken(#ECF0F1, 10)
        tr.urgent > td
            background-color #d9534f
        tr.delivered > td
            background-color #5cb85c