html, body
    background-color: whiteSmoke    
    font-family: 'Open Sans', sans-serif

h1, h2, h3, h4, h5, h6
    font-family: 'Open Sans', sans-serif

a
    color: #2980B9
    &:hover, &:focus
        color: #34495E

a.btn-primary
    color #fff
    
.navbar
    border-radius: 0 !important

.nav > li
    line-height: 30px !important

    > a:hover
        background-color: whiteSmoke

a.navbar-brand
    color: #ffffff

a.navbar-link
    color #2980B9 !important
#brand
    text-align center
    h2#subtitle
        font-size: 1em
        font-weight: 400

#about
    margin-top 40px

    #stats
        height 200px
        background-color: #d8dde8

#login
    h1, h2
        text-align center

    h2#subtitle
        font-size 1em
        font-weight 400

    #login-form
        margin-top 20px

        label
            margin-top 20px

        #login-button
            margin-top 20px

#shop
    #fit-list
        table
            margin-top 20px
            td
                text-align center
                vertical-align middle
            #fit-img
                width 7%
            img
                height 60px
            #fit-desc
                text-align left
                padding-left 20px
                width 25%
            #fit-skills
                text-align right
                width 20%
                span a
                    color #fff
            #fit-price
                width 20%
            #fit-number
                width 20%
            #fit-add
                width 20%
                
#create
    
    #create-form
        margin-top 20px

        label
            margin-top 20px

        #create-button
            margin-top 20px

#list-fits
    table
        margin-top 20px
        td
            text-align center
            vertical-align middle
        #fit-img
            width 7%
        #fit-desc
            text-align left
            padding-left 20px
            width 25%
        #fit-info
            text-align left
            width 25%
            ul
                margin 0
        #fit-price
            width 20%
        #fit-number
            width 20%
        #fit-actions
            width 20%

table#cart-doctrine-ships
    th
        text-align center
    tr#fit
        td
            vertical-align middle
        #fit-img
            width 7%
        #fit-desc
            text-align left
            padding-left 20px
            width 25%
        #fit-details
            text-align center
            width 10%
            span a
                color #fff
        #fit-price
            text-align center
            width 20%
        #fit-number
            text-align center
            width 15%
            input
                width 50%
                margin-left auto
                margin-right auto
        #fit-delete
            text-align center
            width 30%
    tr#sub-total
        td
            text-align center
            vertical-align middle