html,
body {
  background-color: whiteSmoke;
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}
a {
  color: #2980b9;
}
a:hover,
a:focus {
  color: #34495e;
}
a.btn-primary {
  color: #fff;
}
.navbar {
  border-radius: 0 !important;
}
.nav > li {
  line-height: 30px !important;
}
.nav > li > a:hover {
  background-color: whiteSmoke;
}
a.navbar-brand {
  color: #fff;
}
a.navbar-link {
  color: #2980b9 !important;
}
.page-header {
  margin-top: 0;
}
#nav-cart {
  margin-right: 10px;
}
#brand {
  text-align: center;
}
#brand h2#subtitle {
  font-size: 1em;
  font-weight: 400;
}
#about {
  margin-top: 40px;
}
#about #stats {
  height: 200px;
  background-color: #d8dde8;
}
#login h1,
#login h2 {
  text-align: center;
}
#login h2#subtitle {
  font-size: 1em;
  font-weight: 400;
}
#login #login-form {
  margin-top: 20px;
}
#login #login-form label {
  margin-top: 20px;
}
#login #login-form #login-button {
  margin-top: 20px;
}
#shop #fit-list table {
  margin-top: 20px;
}
#shop #fit-list table td {
  text-align: center;
  vertical-align: middle;
}
#shop #fit-list table #fit-img {
  width: 7%;
}
#shop #fit-list table img {
  height: 60px;
}
#shop #fit-list table #fit-desc {
  text-align: left;
  padding-left: 20px;
  width: 25%;
}
#shop #fit-list table #fit-skills {
  text-align: right;
  width: 20%;
}
#shop #fit-list table #fit-skills span a {
  color: #fff;
}
#shop #fit-list table #fit-price {
  width: 20%;
}
#shop #fit-list table #fit-number {
  width: 20%;
}
#shop #fit-list table #fit-add {
  width: 20%;
}
#create #create-form {
  margin-top: 20px;
}
#create #create-form label {
  margin-top: 20px;
}
#create #create-form #create-button {
  margin-top: 20px;
}
#list-fits table {
  margin-top: 20px;
}
#list-fits table td {
  text-align: center;
  vertical-align: middle;
}
#list-fits table #fit-img {
  width: 7%;
}
#list-fits table #fit-desc {
  text-align: left;
  padding-left: 20px;
  width: 25%;
}
#list-fits table #fit-info {
  text-align: left;
  width: 25%;
}
#list-fits table #fit-info ul {
  margin: 0;
}
#list-fits table #fit-price {
  width: 20%;
}
#list-fits table #fit-number {
  width: 20%;
}
#list-fits table #fit-actions {
  width: 20%;
}
table#cart-doctrine-ships th {
  text-align: center;
}
table#cart-doctrine-ships tr#fit td {
  vertical-align: middle;
}
table#cart-doctrine-ships tr#fit #fit-img {
  width: 7%;
}
table#cart-doctrine-ships tr#fit #fit-desc {
  text-align: left;
  padding-left: 20px;
  width: 25%;
}
table#cart-doctrine-ships tr#fit #fit-details {
  text-align: center;
  width: 10%;
}
table#cart-doctrine-ships tr#fit #fit-details span a {
  color: #fff;
}
table#cart-doctrine-ships tr#fit #fit-price {
  text-align: center;
  width: 20%;
}
table#cart-doctrine-ships tr#fit #fit-number {
  text-align: center;
  width: 15%;
}
table#cart-doctrine-ships tr#fit #fit-number input {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
table#cart-doctrine-ships tr#fit #fit-delete {
  text-align: center;
  width: 30%;
}
table#cart-doctrine-ships tr#sub-total td {
  text-align: center;
  vertical-align: middle;
}
#checkout-options #shipping-panel {
  margin-top: 20px;
}
#checkout-options #shipping-panel select {
  height: 40px;
}
#checkout-options #shipping-panel p#total-shipping {
  margin-top: 10px;
}
#checkout-options #review-panel div.panel-footer {
  text-align: right;
}
#account-orders a#show-details-modal {
  color: #fff;
}
#manager-queue .page-header h1 {
  margin-top: 0;
}
#manager-queue h3:first-child {
  margin-top: 0;
}
#manager-queue table tr > td {
  vertical-align: middle;
}
#manager-queue table tr > td > p {
  margin: 5px 0 5px;
}
#manager-queue table tr.processing > td {
  background-color: #d9edf7;
}
#manager-queue table tr.waiting > td {
  background-color: #fcf8e3;
}
#manager-queue table tr.urgent > td {
  background-color: #f2dede;
}
#manager-queue table tr.delivered > td {
  background-color: #d0e9c6;
}
#manager-order-details table tr.muted-row {
  color: #999;
}
#manager-order-details table tr.muted-row a {
  color: #999;
}
