{% extends "_base.html" %}
{% load humanize %}
{% block content %}
    <div id="shop">
        <h1><i class="icon-shopping-cart"></i> You have {{cart.length}} item{{cart.length|pluralize}} in your Shopping Cart</h1>
        <p>Here's how it works, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, aspernatur, quidem labore laudantium incidunt blanditiis soluta ducimus nulla magnam inventore explicabo reprehenderit praesentium repellat. Doloribus, dolorem laudantium animi eveniet cumque.</p>
        {% if cart.doctrines %}
            <table id="cart-doctrine-ships" class="table">
                <tr>
                    <td colspan="3"><h4><b>Doctrine Ships</b></h4></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th></th>
                    <th>Name and Description</th>
                    <th>Details</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
                {% for fit in cart.doctrines %}
                     <tr id="fit">
                        <td id="fit-img">
                            <img src="http://image.eveonline.com/Render/{{fit.ship.id}}_128.png" alt="Talwar">
                        </td>
                        <td id="fit-desc">
                            <h4><a href="#">{{fit.ship.name}}, {{fit.name}}</a></h4>
                            <p>{{fit.description}}</p>
                        </td>
                        <td id="fit-details">
                            <h4>
                                <span class="label label-success">
                                    <a href="#" id="show-details-modal" data-remote="/shop/details/{{fit.id}}" data-keyboard="true" data-backdrop="fade" data-toggle="modal" data-target="#details">Details</a>
                                </span>
                            </h4>
                        </td>
                        <td id="fit-price">
                            {{fit.price|intcomma}} ISK
                        </td>
                        <td id="fit-number">
                            <input type="number" name="amount" data-id="{{fit.id}}" data-type="ship" value="{{fit.amount}}" min="0">
                        </td>
                        <td id="fit-delete">
                            <a href="#" id="update-cart" data-id="{{fit.id}}" data-type="ship" class="btn btn-primary">Update</a>
                            <a href="#" id="delete-from-cart" data-id="{{fit.id}}" data-type="ship" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3"><h4><b>Modules</b></h4></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="fit">
                    <td id="fit-img">
                        <img src="http://image.eveonline.com/Type/14264_64.png" alt="Talwar">
                    </td>
                    <td id="fit-desc">
                        <h4><a href="#">Domination Stasis Webifier</a></h4>
                        <p>BLABLABLA</p>
                    </td>
                    <td id="fit-details">
                        <h4>
                            <span class="label label-success">
                                <a href="#" id="show-details-modal" data-remote="/shop/details/{{fit.id}}" data-keyboard="true" data-backdrop="fade" data-toggle="modal" data-target="#details">Details</a>
                            </span>
                        </h4>
                    </td>
                    <td id="fit-price">
                        {{10.0|intcomma}} ISK
                    </td>
                    <td id="fit-number">
                        <input type="number" name="amount" data-fit="{{fit.id}}" value="{{fit.amount}}" min="0">
                    </td>
                    <td id="fit-delete">
                        <a href="#" id="delete-from-cart" data-fit="{{fit.id}}" class="btn btn-primary">Update</a>
                        <a href="#" id="delete-from-cart" data-fit="{{fit.id}}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                <tr id="sub-total">
                    <td></td>
                    <td></td>
                    <td><h4><b>Total</b></h4></td>
                    <td id="sub-total">{{cart.doctrines_price|intcomma}} ISK</td>
                    <td></td>
                    <td><a href="#" class="btn btn-success btn-block">Checkout</a></td>
                </tr>
            </table>
        {% endif %}
    </div>
    
    <div class="modal fade" id="details">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Fit Details</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
  
{% endblock %}